.vertical-scrollable > .row {

    position: absolute;
    top: 270px;
    bottom: 50px;
    left: 30px;
    width: 50%;
    overflow-y: scroll;
}


#chart-container{
    position: absolute;
    top: 240px;
    bottom: 70px;
    right: 45px;
    width: 38%;
    height:460px;
}

.col-sm-8 {
    color: white;
    font-size: 10px;
    padding-bottom: 20px;
    padding-top: 18px;
}

